ScreenY/web-app/logs/
ScreenY/web-app/media/
ScreenY/web-app/configs/
ScreenY/web-app/playlists/
__pycache__
Eigener Server/Rust-Desk/Client/my-ressources/
Eigener Server/Rust-Desk/Client/build-run.cmd
Eigener Server/Rust-Desk/Client/bin-cache/win64/sciter.dll
